.SingleItem{
    margin:10px 0;
    box-sizing: border-box;
    width: 100%;

    display: block;
}

.SingleItem a{
    color:#8f5c2c;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    
}

.SingleItem a:hover,
.SingleItem a:active,
.SingleItem a.active{
    color:#40a4cb    
}







@media(min-width:500px){
    .SingleItem{
        margin:0;
        display: flex;
        height: 100%;
        align-items: center;
        width: auto;
    }
    
    .SingleItem a{
        color:white;
        height: 100%;
        padding:16px 10px;
        border-bottom: 4px solid transparent; 
    }
    
    .SingleItem a:hover,
    .SingleItem a:active,
    .SingleItem a.active{
        background-color: #8f5c2c;
        border-bottom: 4px solid #40a4cb;
        color:white;
        
    }
}
